<div class="text-center">
    <h1 class="display-4"> Soy Fabián Osorio </h1>
    <h2>Desarrollador .NET </h2>

    <img id=" foto"
         style="width: 200px"
         class="img-thumbnail rounded-circle"
         src=" /img/fotousuario.jpg" alt=" Foto de Fabian" />
</div>


    <div class="text-center">
        <img id="imagen-dotnet" src=" /img/net2.png" alt="logo-net" />
    </div>

    <div class="row justify-content-center text-center bg-primary">
        <div class="col col-md-7 seccion-bienvenida">
            <h1>Te doy la bienvenida a mi portafolio</h1>
            <p>Desarrollo software .NET y el resto de experiencia</p>
        </div>
    </div>